html {
  background-color: #d6d6d6;
  font-family: sans-serif;
  text-align: center;
}

.header-image {
  position: absolute;
  z-index: -2;
}

.logo-top {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.monitor1 {
  float: left;
}

.monitor2 {
  
}

.monitor1-text {
  overflow: hidden;
}

.button-cyan {
  background-color: hsl(171, 66%, 44%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-blue {
  background-color: hsl(233, 100%, 69%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
