html {
  background-color: #d6d6d6;
  font-family: sans-serif;
  text-align: center;
}

.header-image {
  position: absolute;
  z-index: -2;
}

.logo-top {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.monitor1 {
  float: left;
}

.monitor1-text {
  overflow: hidden;
}

.workflow-tools {
  overflow: hidden;
}

.blacklist, .snippets,
.preview {
  float: left;
  width: 23%;
  margin: 50px;
}

.company-logos {

}

.google, .ibm, .microsoft,
.hp, .vector {
  width: 10%;
  margin: 50px;
}

.logo-bottom {
  width: 50px;
  float: left;
  position: relative;
  top: 55px;
  left: 70px;
}

.footer-links {
  width: 50%;
  overflow: hidden;
  margin-left: 200px;
  position: relative;
  top: 35px;
}

.faqs, .contact-us, .privacy-policy,
.press-kit, .install-guide {
  width: 30%;
  float: left;
}

.social-media-icons {
  float: right;
  position: relative;
  width: 30%;
  bottom: 50px;
}

.facebook, .twitter, .instagram {
  margin: 20px;
}

footer {
  background-color: #bcbcbc;
  width: 100%;
  position: absolute;
}

.button-cyan {
  background-color: hsl(171, 66%, 44%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 0 75px 0;
}

.button-blue {
  background-color: hsl(233, 100%, 69%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
